nes (22 sloc) 453 Bytes
<template>
    <v-app id="inspire">
      <page-header />
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <!-- using vue-router -->
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import PageHeader from '@/components/global/Header'

  export default {
    name: 'App',
    data () {
      return {
       drawer: null 
      }
    },
    components: {
      PageHeader
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.danger-alert {
  color: red;
}
</style>
