<template>
    <div
        color="grey lighten-4"
        flat
        height="200px"
        tile
    >
        <v-navigation-drawer
        v-model="drawer"
        app
        ><nav-drawer-list />
        </v-navigation-drawer>
        <v-app-bar
            app
            color="primary"
            dark
            shrink-on-scroll
            src="images/green-background.jpg"
        >
        <template v-slot:img="{ props }">
            <v-img
            v-bind="props"
            gradient="to top right, rgba(19,84,0,.5), rgba(128,208,199,.8)"
            ></v-img>
        </template>

        <v-app-bar-nav-icon  @click="drawer = !drawer"></v-app-bar-nav-icon>

        <v-app-bar-title>Application</v-app-bar-title>

        <v-spacer></v-spacer>
        
        <v-btn icon>
            <v-icon :color="'blue darken-4'">mdi-login</v-icon>
        </v-btn>
        <v-btn icon>
            <v-icon :color="'red darken-2'">mdi-logout</v-icon>
        </v-btn>        
        </v-app-bar>
    </div>
</template>

<script>
import NavDrawerList from '@/components/global/NavigationDrawer'

  export default {
    name: 'Header',
    data () {
      return {
       drawer: null 
      }
    },
    components: {
      NavDrawerList
    }
  }
</script>