<template>
  <v-card
    class="mx-auto"
    width="256"
    tile
    app
  >
    <v-list 
      class="green darken-1"
      dark
      height="128px"
    >
      <v-list-item>
        <v-list-item-avatar>
          <v-img :src="avatarSrc"></v-img>
        </v-list-item-avatar>
      </v-list-item>

      <v-list-item link>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            {{ title }}
          </v-list-item-title>
          <v-list-item-subtitle>{{ subTitle }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-divider></v-divider>
    <v-list
      nav
      dense
    >
      <v-list-item-group
        v-model="selectedItem"
        color="primary"
      >
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
        >
          <v-list-item-icon>
            <v-icon :color="item.color" v-text="item.icon"></v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
  export default {
    data: () => ({
      selectedItem: 0,
      avatarSrc: '',
      title: 'Menu',
      subTitle: 'Wellcome',
      items: [
        { text: 'Starred', icon: 'mdi-star', color: 'purple darken-2'  },
        { text: 'About', icon: 'mdi-check-circle', color: 'red darken-2'  }
      ],
    }),
    mounted () {
        /* Valid Authentication get value in store properity */
        var isAuth = true
        var isAdmin = true

        if(isAuth) {
          this.avatarSrc = 'images/avatar-icon.jpg'
          this.title = 'User Name'
          this.subTitle = 'E-mail address'
          let addCommun = [
            { text: 'My Files', icon: 'mdi-folder', color: 'cyan darken-4' },
            { text: 'Shared with me', icon: 'mdi-account-multiple', color: 'orange darken-2' },
          ]
          this.items.push.apply(this.items, addCommun)
        } 
        
        if (isAuth && isAdmin) {
          let addPlus = [
            { text: 'Recent', icon: 'mdi-history', color: 'blue darken-2' },
            { text: 'Uploads', icon: 'mdi-upload', color: 'yellow darken-2' },
            { text: 'Backups', icon: 'mdi-cloud-upload', color: 'green darken-2' }
          ]
          this.items.push.apply(this.items, addPlus)
        }      
      }
    }
</script>

<style>

</style>